<h3>Login</h3>
<br />

<?php if($this->error): ?>
<p>Usuário ou senha inválidos</p>
<?php endif; ?>

<?php
$form = $this->form;

$form->setAttribute('action',$this->url('user-auth', array(
        'controller' => $this->controller,
        'action' => 'index'
    )));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();

?>
