<h1>Projeto</h1>

<br/>
<?php if (empty($this->list)): ?>

    <h2>Sem informações no momento!</h2>

<?php else: ?>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th>Tema</th>
            <th>Assunto</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Criado em:</th>
            <th>Finalizado em:</th>
            <th>Ações</th>
        </tr>

        <?php foreach ($this->list as $entity): ?>
            <tr>
                <td><?php echo $this->escapeHtml($entity->getId()); ?></td>
                <td><?php echo $this->escapeHtml($entity->getUsuarioLogin()->getNome()); ?></td>
                <td><?php echo $this->escapeHtml($entity->getTema()->getNome()); ?></td>
                <td><?php echo $this->escapeHtml($entity->getAssunto()); ?></td>
                <td><?php echo $this->escapeHtml($entity->getDescricao()); ?></td>
                <td>
                    <?php
                    $status = $entity->getStatus() == true ? '<span class="label label-success">Ativo</span>' : '<span class="label label-danger">Inativo</span>';
                    echo $status;
                    ?>
                </td>
                <td><?php echo $this->escapeHtml($entity->getCreatedAt()->format('d/m/Y H:i:s')); ?></td>
                <td><?php echo $this->escapeHtml($entity->getDtFimProj()->format('d/m/Y H:i:s')); ?></td>
<!--                <td>--><?php //echo $this->escapeHtml($entity->getTema()->getNome()); ?><!--</td>-->
                <td>
<!--                    <a href="--><?php
//                    echo $this->url($this->route,
//                        array('controller' => $this->controller,
//                            'action' => 'edit',
//                            'id' => $entity->getId()));
//                    ?><!--">Editar</a>-->
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php endif; ?>