<h1>Edit Users</h1>

<br />
<?php
    $form = $this->form;
    $form->setAttribute('action', $this->url($this->route, array(
        'controller' => $this->controller,
        'action' => 'edit',
        'id' => $this->id
    )));
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formCollection($form);
    echo $this->form()->closeTag();
?>

