<h1>Temas</h1>

<br/>

<p>
    <a class="btn btn-info" href="<?php echo $this->url($this->route,
        array('controller' => $this->controller, 'action' => 'add'));
    ?>">Add Tema</a>
</p>
<?php if (empty($this->list)): ?>

    <h2>Sem informações no momento!</h2>

<?php else: ?>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ação</th>
        </tr>

        <?php foreach ($this->list as $entity): ?>
            <tr>
                <td><?php echo $this->escapeHtml($entity->getId()); ?></td>
                <td><?php echo $this->escapeHtml($entity->getNome()); ?></td>
                <td><?php echo $this->escapeHtml($entity->getDescricao()); ?></td>
                <td>
                    <a href="<?php
                    echo $this->url($this->route,
                        array('controller' => $this->controller,
                            'action' => 'edit',
                            'id' => $entity->getId()));
                    ?>">Editar</a>
                    <a href="<?php
                    echo $this->url($this->route,
                        array('controller' => $this->controller,
                            'action' => 'delete',
                            'id' => $entity->getId()));
                    ?>">Delete</a>

                </td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php endif; ?>