<?php if(empty($this->user)): ?>
<h2>Nenhum Usuário logado</h2>
<?php else:
    $user = $this->userDados;
    ?>

<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="row clearfix">
            <div class="col-md-3 column">
                <img class="img-thumbnail" alt="140x140" src="http://lorempixel.com/140/140/">

                <h3 class="text-primary text-left">
                    <?php echo $this->user['nome']; ?>
                </h3>
            <?php if(empty($this->userDados)): ?>
                    <a  href="
                        <?php echo $this->url('user/default',
                        array('controller' => 'dados',
                            'action' => 'add'))?>
                            "
                        type="button"
                        class="btn btn-default btn-xs">Completar Cadastro
                    </a>
            <?php else: ?>
                <address>
                    <strong>Dados Pessoais:</strong>
                    <br> <?php echo $user->getCidade() . ', ' . $user->getEstado(); ?>
                    <br> <b>Nascimento: </b><?php
                    $date = $this->dateFormat(
                        $user->getDtNascimento(),
                        IntlDateFormatter::LONG,
                        IntlDateFormatter::NONE,
                        "pt_BR"
                    );
                    echo $date;
                    ?>
                    <br>
                    <abbr title="Telefone Celular">Cel. </abbr>
                    <?=$user->getTelCelular()?>
                    <br>
                    <abbr title="Telefone Comercial">Com. </abbr>
                    <?=$user->getTelResidencial()?>
                    <br>
                    <abbr title="Telefone Residencial">Res. </abbr>
                    <?=$user->getTelComercial()?>
                    <br><b>Desde:</b>
                    <?php
                        $date = $this->dateFormat(
                            $this->user['created_at'],
                            IntlDateFormatter::LONG,
                            IntlDateFormatter::NONE,
                            "pt_BR"
                        );
                        echo $date;
                    ?>
                    <br> <b>Portifólio:</b> <?=$user->getSitePortifolio()?>
                    <br> <b>Facebook:</b> <?=$user->getUrlFacebook()?>
                    <br> <b>Linkedin:</b> <?=$user->getUrlLinkedin()?>
                    <br> <b>Skype:</b> <?=$user->getContatoSkype()?>

                </address>
        <?php endif ?>
                <h3 class="text-left text-muted">
                    Temas
                </h3>
                <ol>
                    <?php foreach ($this->temas as $temas): ?>
                        <li>
                            <?php echo $temas->getNome(); ?>
                        </li>
                    <?php endforeach; ?>
                </ol>
            </div>
            <div class="col-md-9 column">
                <div class="text-right">
                    <a  href="<?php echo $this->url('projeto/default',
                        array('controller' => 'projeto',
                            'action' => 'add'))?>"
                        type="button"
                        class="btn btn-info btn-sm">Novo Projeto
                    </a>
                </div>
                <br/>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Projetos
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <?php
                            $timeNow = new DateTime('now');
                            foreach ($this->projetos as $projeto):
                                $timeNow <= $projeto->getDtFimProj() ? $status = 'warning' : $status = 'danger';
                                ?>
                                <!--Se a data do projeto estiver vencida mudar alert(info / danger) -->
                                <a href="#" class="list-group-item">
                                    <p>
                                        <b><?= $projeto->getAssunto() ?></b>
                                        <i class="label label-<?=$status?>"><?= $projeto->getDtFimProj()->format('d/m/Y') ?></i>
                                    </p>
                                    <p><?= $projeto->getDescricao() ?></p>

                                </a>
                            <?php endforeach; ?>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Você possui <i class="label label-info"><?php echo count($this->projetos)?></i> Projetos<br>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Mensagens
                        </h3>
                    </div>
                    <div class="panel-body">
                        Lista de Mensagens<br>
                    </div>
                    <div class="panel-footer">
                        Footer Mensagens
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php endif ?>