<?php if (empty($this->detail)): ?>
    <h2>Dados incompletos</h2>

    <a class="btn btn-info" href="<?php echo $this->url($this->route,
        array('controller' => 'dados', 'action' => 'add'));
    ?>">Clique aqui</a>

<?php else: ?>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <h3>Detalhes</h3>
            </div>
        </div>
    <?php $data = $this->detail; ?>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Cadastrado em:</dt>
                <dd><?php echo $data->getusuarioLogin()->getCreatedAt()->format('d/m/Y H:i:s'); ?></dd>
                <dt>Atualizado em:</dt>
                <dd><?php echo $data->getusuarioLogin()->getUpdatedAt()->format('d/m/Y H:i:s'); ?></dd>
                <dt>Status:</dt>
                <dd>
                    <?php
                    $status = $data->getusuarioLogin()->getStatus() == true ? '<span class="label label-success">Ativo</span>' : '<span class="label label-danger">Inativo</span>';
                    echo $status;
                    ?>
                </dd>
                <dt>Name:</dt>
                <dd><?php echo $data->getusuarioLogin()->getNome(); ?></dd>
                <dt>Nascimento:</dt>
                <dd><?php echo $data->getDtNascimento()->format('d/m/Y'); ?></dd>
                <dt>Email:</dt>
                <dd><?php echo $data->getusuarioLogin()->getEmail(); ?></dd>
                <dt>Cpf:</dt>
                <dd><?php echo $data->getCpf(); ?></dd>
                <hr />
                <dt>Celular:</dt>
                <dd><?php $celular = $data->getTelCelular(); ?></dd>
                <dt>Residencial:</dt>
                <dd><?php echo $data->getTelResidencial(); ?></dd>
                <dt>Comercial:</dt>
                <dd><?php echo $data->getTelComercial   (); ?></dd>
                <hr />
                <dt>Endereço:</dt>
                <dd>
                    <?php echo $data->getCidade() . ' -' .
                        $data->getEstado();
                    ?>
                </dd>
                <dt>Portifolio:</dt>
                <dd><?php echo $data->getSitePortifolio(); ?></dd>
                <dt>Facebook:</dt>
                <dd><?php echo $data->getUrlFacebook(); ?></dd>
                <dt>Linkedin:</dt>
                <dd><?php echo $data->getUrlLinkedin(); ?></dd>
                <dt>Skype:</dt>
                <dd><?php echo $data->getContatoSkype(); ?></dd>
            </dl>
        </div>
        <div class="panel-footer">
            <a href="<?php
            echo $this->url($this->route,
                array('controller' => $this->controller,
                    'action' => 'edit',
                    'id' => $data->getusuarioLogin()->getId())); ?>"
               class="btn btn-warning btn-sm">
                Editar
            </a>
            <a href="<?php echo $this->url('user'); ?>" class="btn btn-default btn-sm">Voltar</a>
        </div>
    </div>
<?php endif; ?>