<h1>Edit Users</h1>

<br />
<?php
    $form = $this->form;
    $form->setAttribute('action', $this->url($this->route, array(
        'controller' => $this->controller,
        'action' => 'edit',
        'id' => $this->id
    )));
    $form->prepare();
    echo $this->form()->openTag($form);

    $user = $form->get('address')->get('user');
    echo $this->formRow($user->get('name'));
    echo $this->formRow($user->get('email'));
    echo $this->formRow($user->get('passwd'));
    echo $this->formRow($user->get('confirmation'));
    echo $this->formRow($user->get('cpf'));
    echo $this->formRow($user->get('operadora'));
    echo $this->formRow($user->get('celular'));
    echo $this->formRow($user->get('fixo'));

    $address = $form->get('address');
    echo $this->formRow($address->get('logradouro'));
    echo $this->formRow($address->get('numero'));
    echo $this->formRow($address->get('complemento'));
    echo $this->formRow($address->get('bairro'));
    echo $this->formRow($address->get('cep'));
    echo $this->formRow($address->get('cidade'));
    echo $this->formRow($address->get('estado'));
    echo $this->formRow($address->get('pais'));

    echo $this->formHidden($form->get('csrf'));
    echo $this->formSubmit($form->get('submit'));
    echo $this->form()->closeTag();
?>

