<h1>Lista de Usuários</h1>

<br/>
<div>
    <a class="btn btn-info" href="<?php echo $this->url($this->route,
        array('controller' => $this->controller, 'action' => 'add'));
    ?>">Add Usuário</a>
</div>
<br />
<?php if (empty($this->list)): ?>

    <h2>Sem informações no momento!</h2>

<?php else: ?>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Criado em:</th>
            <th>Atualizado em:</th>
            <th>Status:</th>
            <th>Ações</th>
        </tr>
        <?php foreach ($this->list as $entity): ?>
            <tr>
                <td><?php echo $this->escapeHtml($entity->getId()); ?></td>
                <td><?php echo $this->escapeHtml($entity->getNome()); ?></td>
                <td><?php echo $this->escapeHtml($entity->getEmail()); ?></td>
                <td><?php echo $this->escapeHtml($entity->getCreatedAt()->format('d/m/Y H:i:s')); ?></td>
                <td><?php echo $this->escapeHtml($entity->getUpdatedAt()->format('d/m/Y H:i:s')); ?></td>
                <td>
                    <?php
                    $status = $entity->getStatus() == true ? '<span class="label label-success">Ativo</span>' : '<span class="label label-danger">Inativo</span>';
                    echo $status;
                    ?>
                </td>
                <td>
                    <a href="<?php
                    echo $this->url($this->route,
                        array('controller'=> $this->controller,
                            'action'=>'detail',
                            'id'=>$entity->getId()));
                    ?>">Detalhes</a>
<!--                    <a href="--><?php
//                    echo $this->url($this->route,
//                        array('controller' => $this->controller,
//                            'action' => 'edit',
//                            'id' => $entity->getId()));
//                    ?><!--">Editar</a>-->
                    <a href="<?php
                    echo $this->url($this->route,
                        array('controller' => $this->controller,
                            'action' => 'delete',
                            'id' => $entity->getId()));
                    ?>">Delete</a>
                    <a href="<?php
                    echo $this->url($this->route,
                        array('controller' => $this->controller,
                            'action' => 'enable',
                            'id' => $entity->getId()));
                    ?>">Ativar</a>
                    <a disabled="disabled" href="<?php
                    echo $this->url($this->route,
                        array('controller' => $this->controller,
                            'action' => 'disable',
                            'id' => $entity->getId()));
                    ?>">Desativar</a>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php endif; ?>